<app-nav-bar></app-nav-bar>

<div class="container anima ">
    <div class="pricing"> 
        <h2 class="heading">PRICING</h2>
        <h3 class="check-price">
            Check our <span style="color: #106eea;">Pricing</span>
        </h3>
    </div>
</div>

<!-- row -->

<div class="container-fluid" style="height: 400px;" >
<div class="row"  style="margin: 0 50px; display: flex; align-items: center; justify-content: center; " >
    <div class="col-lg-3 col-md-6 card-01">
        <div class="box">
            <h3 class="any1">Any One</h3>
            <h4 class="price"><sup class="super" >₹</sup>249<span class="striked-text">₹300</span></h4>
            <p class="capitalize"> Participate in any one<br>
                of the four Olympiads<br> of your choice. </p>
            <div class="btn-wrap rbutton"><a class="btn-buy">Register Now</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 card-01">
        <div class="box">
            <h3 class="any2">Any Two</h3>
            <h4 class="price"><sup class="super" >₹</sup>449<span class="striked-text">₹600</span></h4>
            <p class="capitalize"> Participate in any two<br>
                of the four Olympiads<br> of your choice. </p>
            <div class="btn-wrap rbutton"><a class="btn-buy">Register Now</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 card-01">
        <div class="box">
            <h3 class="any1">Any Three</h3>
            <h4 class="price"><sup class="super" >₹</sup>649<span class="striked-text">₹900</span></h4>
            <p class="capitalize"> Participate in any three<br>
                of the four Olympiads<br> of your choice. </p>
            <div class="btn-wrap rbutton"><a class="btn-buy">Register Now</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 card-01">
        <div class="box">
            <span class="advanced">Advanced</span>
            <h3 class="any1">All</h3>
            <h4 class="price"><sup class="super" >₹</sup>839<span class="striked-text">₹1200</span></h4>
            <p class="capitalize"> Participate in all four<br>
                of the four Olympiads<br> of your choice. </p>
            <div class="btn-wrap rbutton"><a class="btn-buy">Register Now</a>
            </div>
        </div>
    </div>
</div>
</div>

<div>
    <app-studentboard></app-studentboard>
</div>

<!-- footer -->
<div class="">
    <app-footer></app-footer>
</div>